body
{
   background-color: #0a0909;
}
h1
{
   color:white;
   font-weight: 900;
   font-size: 5rem;
}
.container {
    width: 338px;
    height: 338px;
    margin: 20px;
    border: 25px solid #333;
    margin-top:14%;
}
.blue {
    float: left;
    width: 80px;
    height: 80px;
    background-color: blue;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    margin: 2px;
}
 .red
 {
    float: left;
    width: 80px;
    height: 80px;
    background-color: red;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    margin: 2px;
 }
 .w1
 {
    background-color: red;
 }
 .w2
 {
    background-color: red;
 }
 .w3
 {
    background-color: red;
 }